<h1 class="mt-5">Add product <small>{{text1}}</small></h1>
<hr>
<form [formGroup]="myForm">
    <div  class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Name:</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-auto">
            <span class="form-text" 
            [valid]="!error('name')" 
            [message]="text1" 
            [color]="color1" 
            message="This input is required**" 
            errorMsg></span>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary" (click)="changeName()">
                    Save
                </button>
            </div>

            <div class="col">
                <button class="btn btn-primary" (click)="changeColor()">
                    Change Color
                </button>
            </div>
        </div>
    </div>    
</form>

<h3 class="mt-5">Form</h3>
<pre>Value: {{myForm.value | json}}</pre>
<pre>Valid: {{myForm.valid}}</pre>